
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(75, 34, 112);
    height: 80px;
    width: 100%;
    position: fixed;

}

.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding-left: 100px;
}

nav{
    position: relative;
}

nav img{
    width: 40px;
    position: absolute;
    right: 60px;
    top: -60px;
    cursor: pointer;
    display: none;
}

nav ul{
    position: absolute;
    right: 20px;    
    top: -80px;
}

nav li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
    
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 3px;
    transition: background 0.1s;
}

.active, nav a:hover{
    background: rgb(145, 134, 145);
    transition: background 0.5s;
    
}

.introduction{
    padding-top: 80px;
}



